body {
  background-color: #F3F3F3;
}

.container5 {
  height: 100vh;
  display: flex;
}

.container5 > div {
}

.sidebar5 {
  padding-top: 6em;
  padding-left: 15px;
  padding-right: 15px;
  flex-basis: 250px;
  flex-grow: 0;
  flex-shrink: 0;
  height: 100vh;
  background-color: white;
  border-right: rgba(34,36,38,.1) 1px solid;
}

.ui.segment.content5 {
  margin: 6em 15px 1em;
  flex-grow: 1;
  overflow: auto;
}